@charset "UTF-8";

@font-face {
  font-family:微軟正黑體;
  src: url('entypo.eot');
  src: url('entypo.eot?#iefix') format('embedded-opentype'),
       url('entypo.woff') format('woff'),
       url('entypo.ttf') format('truetype'),
       url('entypo.svg#entypo') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: entypo;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}




.icon-right-open-big:before { content: "\e766"; } /* '\e766' */


